<div class="jumbotron center">
  <h1>Time to spot some animals, bro!</h1>
  <p>Let the spotting games begin!</p>
  <%= link_to "New game", new_game_path, class: "btn btn-primary" %>
  <p style="padding-top: 10px"><%= link_to "View all games", games_path %></p>
<div>
