<% if @animals %>
  <%= render("shared/animals/animal_cards", animals: @animals) %>
<% else %>
  No custom animals yet. Make em, bro!
<% end %>

<p>
  <%= link_to 'Create New Animal', new_animal_path, class: "btn btn-primary" %>
</p>
