<% if @animals %>
  <div id="animals" class="transitions-enabled">
    <%= render("shared/animals/animal_cards", animals: @animals) %>
  </div>
<% else %>
  No custom animals yet. Make em, bro!
<% end %>

<p>
  <%= link_to 'Create New Animal', new_animal_path, class: "btn btn-primary" %>
</p>
