<div class="score-table">
  <% @players.each do |player| %>
    <div class="player-profile">
      <h4>Player ID #<%= player.id %></h4>
      <p><%= player.try(:email) %></p>
      <p><%= player.scores.find_by(game_id: @game.id).points || "--" %></p>
    </div>
  <% end %>
</div>
