<div class="score-table">
  <%= form_for :scores, url: update_scores_path(game_id: @game.id), html: { multipart: true } do |f| %>
    <% @players.each do |player| %>
      <div class="score-input">
        <p>
          <%= f.label player.username %>
          <%= f.text_field(player.id, class: "form-control") %>
        </p>
      </div>
    <% end %>

    <div class="center">
      <p>
        <%= f.submit "Update Score", class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>
