<h1>Game #<%= @game.id %></h1>

<%= render "score_table" %>

<div style="margin-top: 50px">
  <%= render "score_input", locals: {game: @game} %>
</div>

<p>
  <%= link_to "All Games", games_path, { class: "btn", style: "margin-right:40px" } %>
</p>
