<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "AnimalSpotting", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to "Home", root_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Score", score_path %>
        </li>
      </ul>
    </div>
  </nav>
</div>
